div.PublicityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.PublicityContainer a.lineContainer {
  text-decoration: none;
  border-width: 3px;
  border-style: solid;
  border-color: #00b800;
  margin: 0rem 0.5vw 0rem 1.2vw;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.PublicityContainer a.lineContainer:hover {
  -webkit-filter: contrast(1.2);
          filter: contrast(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.PublicityContainer a.lineContainer div.lineBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31vw;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.PublicityContainer a.lineContainer div.lineBg img {
  width: 4rem;
}

div.PublicityContainer a.lineContainer div.lineBg div.lineText {
  color: #00b800;
  font-weight: bold;
  font-size: 18px;
  margin-left: 0.8vw;
  line-height: 2rem;
}

div.PublicityContainer a.calendarContainer {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #516075;
  margin: 0rem 0.5vw 0rem 0.5vw;
  width: 31vw;
  height: 150px;
}

div.PublicityContainer a.calendarContainer div.calendarBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(./resource/reservation.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1.5rem;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.2vw;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_01 {
  margin: 0rem 0rem 0.1rem 0rem;
  color: #516075;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_02_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 0.5rem 0rem;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_02_Container div.calendarText_02 {
  color: #516075;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin: 0rem 0.4vw 0rem 0rem;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_02_Container img.calendar {
  width: 2rem;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container div.calendarButton_01 {
  background-color: #516075;
  color: white;
  font-weight: bold;
  margin: 0rem 0.8vw 0rem 0rem;
  font-size: 0.9rem;
  padding: 0.3rem 1.1rem 0.3rem 1.1rem;
}

div.PublicityContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container div.calendarButton_02 {
  background-color: #516075;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.3rem 1.1rem 0.3rem 1.1rem;
}

div.PublicityContainer a.frequencyContainer {
  text-decoration: none;
  margin: 0rem 1.2vw 0rem 0.5vw;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.PublicityContainer a.frequencyContainer:hover {
  -webkit-filter: contrast(1.2);
          filter: contrast(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.PublicityContainer a.frequencyContainer div.frequencyBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00c1d7;
  width: 31vw;
  height: 155px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.PublicityContainer a.frequencyContainer div.frequencyBg img.frequency {
  width: 6rem;
  margin-right: 0.5vw;
}

div.PublicityContainer a.frequencyContainer div.frequencyBg div.frequencyText {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  div.PublicityContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.PublicityContainer a.lineContainer {
    margin: 0rem 0vw 0rem 0vw;
  }
  div.PublicityContainer a.lineContainer div.lineBg {
    width: 92vw;
  }
  div.PublicityContainer div.BothContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer {
    width: 45vw;
    margin: 0rem 3vw 0rem 0vw;
  }
  div.PublicityContainer div.BothContainer a.frequencyContainer {
    margin: 0rem 0vw 0rem 0vw;
  }
  div.PublicityContainer div.BothContainer a.frequencyContainer div.frequencyBg {
    width: 45vw;
    height: 130px;
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 770px) {
  div.PublicityContainer a.lineContainer div.lineBg {
    width: 92vw;
    height: 87px;
  }
  div.PublicityContainer a.lineContainer div.lineBg img {
    width: 2.7rem;
  }
  div.PublicityContainer a.lineContainer div.lineBg div.lineText {
    font-size: 8px;
    margin-left: 2vw;
    line-height: 1.3rem;
  }
  div.PublicityContainer div.BothContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer {
    width: 45vw;
    margin: 0rem 3vw 0rem 0vw;
    margin-top: 0.8rem;
    height: 93.61px;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg {
    background-image: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0.5rem;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_01 {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_02_Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0rem 0rem 0.5rem 0rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_02_Container div.calendarText_02 {
    color: #516075;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin: 0rem 0.4vw 0rem 0rem;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarText_02_Container img.calendar {
    width: 1.5rem;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container div.calendarButton_01 {
    background-color: #516075;
    color: white;
    font-weight: bold;
    margin: 0rem 1.5vw 0rem 0rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.7rem 0.2rem 0.7rem;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container div.calendarButton_02 {
    background-color: #516075;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.1rem 0.7rem 0.2rem 0.7rem;
  }
  div.PublicityContainer div.BothContainer a.frequencyContainer {
    margin: 0rem 0vw 0rem 0vw;
  }
  div.PublicityContainer div.BothContainer a.frequencyContainer div.frequencyBg {
    width: 45vw;
    height: 93px;
    margin-top: 0.8rem;
  }
  div.PublicityContainer div.BothContainer a.frequencyContainer div.frequencyBg img.frequency {
    width: 4rem;
    margin-right: 1vw;
  }
  div.PublicityContainer div.BothContainer a.frequencyContainer div.frequencyBg div.frequencyText {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  div.PublicityContainer div.BothContainer a.calendarContainer {
    height: 125px;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container {
    margin-right: 0.2rem;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container div.calendarButton_01 {
    line-height: 1rem;
  }
  div.PublicityContainer div.BothContainer a.calendarContainer div.calendarBg div.calendarLeft div.calendarButton_Container div.calendarButton_02 {
    line-height: 1rem;
  }
  div.PublicityContainer div.BothContainer a.frequencyContainer div.frequencyBg {
    width: 45vw;
    height: 126px;
    margin-top: 0.8rem;
  }
}
/*# sourceMappingURL=index.css.map */