div.ReturnHome {
  display: flex;
  position: fixed;
  top: 83vh;
  right: 2.8vw;
  z-index: 100;
  opacity: 0.7;
  transition: ease 0.2s;

  &:hover {
    filter: brightness(1.5);
  }
}

.ant-anchor-ink::before {
  display: none;
}

.code-box-shape2 {
  height: 100px;
  width: 100px;
  background-color: brown;
  color: black;
}
@media screen and (max-width: 1300px) {
  div.ReturnHome {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 765px) {
  div.ReturnHome {
    top: 75vh;
    right: 1vw;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 415px) {
  div.ReturnHome {
    top: 88vh;
    transform: scale(0.7);
  }
}

.ReturnHome2 {
  display: flex;
  position: fixed;
  top: 76vh;
  right: 1vw;
  z-index: 100;
  opacity: 0.7;
  transition: ease 0.3s;
  transform: scale(0.7);

  &:hover {
    filter: brightness(1.2);
  }
}
