header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  height: 83px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #e1e1e1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

header div.NavLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 6;
      -ms-flex: 6 1 800px;
          flex: 6 1 800px;
}

header div.NavLeft div.NavLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0.6rem 0rem 3.5rem;
}

header div.NavLeft div.NavLogo a img {
  width: 152px;
  height: 15px;
}

header div.NavLeft div.NavLogo a img:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu {
  width: 100%;
  height: 79px;
}

header div.NavLeft div.mega_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header div.NavLeft div.mega_menu ul li {
  padding: 2rem 0.7rem 2rem 0.7rem;
}

header div.NavLeft div.mega_menu ul li a {
  color: black;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: block;
}

header div.NavLeft div.mega_menu ul li a:hover {
  color: #929292;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Left_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Left_search img.search_LImg {
  width: 13rem;
  margin: 2.7rem 4vw 0rem 4rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Left_search a.search_LText01 {
  margin: 2rem 0rem 0rem 4rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Left_search a.search_LText02 {
  margin: 1rem 0rem 0rem 4rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.7rem 5vw 0rem 1.5rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 1.2rem 1rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R02:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R02 div.Center_search_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1rem;
  width: 230px;
  height: 67px;
  background-color: white;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 1rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R03:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R03 div.Center_search_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1rem;
  width: 230px;
  height: 67px;
  background-color: white;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R04:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Center_search div.Center_search_R a.Center_search_R04 div.Center_search_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1rem;
  width: 230px;
  height: 67px;
  background-color: white;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.search_Line01 {
  margin: 2.7rem 2vw 0rem 0rem;
  width: 1px;
  height: 250px;
  background-color: #ececec;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Right_search {
  margin: 2.7rem 0rem 0rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Right_search div.Right_search_Text01 {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 1.5rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Right_search a.Right_search_Text02 {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #0094c8;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.Right_search a.Right_search_Text02:hover {
  color: #7cc6e0;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.searchContainer div.search_Line02 {
  margin: 2.7rem 2vw 0rem 10vw;
  width: 1px;
  height: 250px;
  background-color: #ececec;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Left_contact_lenses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Left_contact_lenses img.contact_lenses_LImg {
  width: 12rem;
  margin: 3rem 4rem 0rem 4rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Left_contact_lenses img.contact_lenses_LImg:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Left_contact_lenses a.contact_lenses_LText {
  margin: 2rem 4rem 0rem 5.3rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Right_contact_lenses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Right_contact_lenses img.contact_lenses_RImg {
  width: 12rem;
  margin: 3rem 0rem 0rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Right_contact_lenses img.contact_lenses_RImg:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.contact_lenses_Container div.Right_contact_lenses a.contact_lenses_RText {
  margin: 2rem 0rem 0rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer div.Left_lens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer div.Left_lens img.lens_LImg {
  width: 13rem;
  margin: 2.7rem 4rem 0rem 4rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer div.Left_lens a.lens_LText01 {
  margin: 2rem 4rem 0rem 4rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer div.Left_lens a.lens_LText02 {
  margin: 0.5rem 4rem 0rem 4rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer div.Right_lens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer div.Right_lens div.lens_RText01 {
  font-weight: bold;
  color: #585858;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  margin: 2.7rem 4rem 0rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.lensContainer div.Right_lens div.lens_RText02 {
  font-size: 0.6rem;
  color: #585858;
  margin: 1rem 0rem 0rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Left_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Left_about img.about_LImg {
  width: 13rem;
  margin: 2.7rem 4vw 0rem 4rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Left_about a.about_LText {
  margin: 2rem 4rem 0rem 4rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.7rem 5vw 0rem 1.5rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 1.2rem 1rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R02:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R02 div.Center_about_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1rem;
  width: 230px;
  height: 67px;
  background-color: white;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 1rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R03:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R03 div.Center_about_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1rem;
  width: 230px;
  height: 67px;
  background-color: white;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R04:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_R a.Center_about_R04 div.Center_about_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1rem;
  width: 230px;
  height: 67px;
  background-color: white;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_L {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_L:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_L a.Center_about_L01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_L a.Center_about_L01 img.Center_about_LImg {
  width: 100px;
  height: 67px;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Center_about div.Center_about_L a.Center_about_L01 div.Center_about_Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.1rem;
  width: 230px;
  height: 67px;
  background-color: white;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.about_Line {
  margin: 2.7rem 2vw 0rem 0rem;
  width: 1px;
  height: 250px;
  background-color: #ececec;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Right_about {
  margin: 2.7rem 0rem 0rem 0rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Right_about div.Right_about_Text01 {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 1.5rem;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Right_about a.Right_about_Text02 {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #0094c8;
}

header div.NavLeft div.mega_menu ul li div.sub_menu div.aboutContainer div.Right_about a.Right_about_Text02:hover {
  color: #7cc6e0;
}

header div.NavRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 180px;
          flex: 0 1 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header div.NavRight .login {
  margin-right: 1.1rem;
  text-decoration: none;
  color: black;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

header div.NavRight .login:hover {
  color: #929292;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header div.cart {
  margin-right: 2rem;
}

header div.cart a img {
  width: 1.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header div.cart a img:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

div.sub_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: #f7f7f7;
  width: 100%;
  left: 0;
  top: 83px;
  visibility: hidden;
  height: 320px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #b5b5b5;
}

.mega_menu ul li:hover .sub_menu {
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
          transform: translate3d(0, 0px, 0);
}

div.mobileNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 59px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e1e1e1;
}

div.mobileNavContainer div.mobileNavLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.mobileNavContainer div.mobileNavLeft .login {
  margin-right: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

div.mobileNavContainer div.mobileNavLeft .login:hover {
  color: #929292;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.mobileNavContainer div.mobileNavLeft .register {
  text-decoration: none;
  color: black;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

div.mobileNavContainer div.mobileNavLeft .register:hover {
  color: #929292;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div.mobileNavContainer div.mobile_NavLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0vw 30vw 0vw 30vw;
}

div.mobileNavContainer div.mobile_NavLogo a img {
  width: 7rem;
}

div.mobileNavContainer div.mobile_NavLogo a img:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

div.mobileNavContainer div.mobileNavRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.mobileNavContainer div.mobileNavRight div.cart a img {
  width: 1.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

div.mobileNavContainer div.mobileNavRight div.cart a img:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

div.mobileNavContainer div.mobileNavRight div.mobile_menu {
  width: 1.1rem;
  margin-left: 3vw;
}

div.mobileNavContainer div.mobileNavRight div.mobile_menu:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  width: auto !important;
}

.ant-drawer-body {
  padding: 0px !important;
}

.ant-menu-lightactive:active .ant-menu-item:active,
.ant-menu-light:active .ant-menu-item-active:active,
.ant-menu-light:active
.ant-menu:not(.ant-menu-inline):active
.ant-menu-submenu-open:active,
.ant-menu-light:active .ant-menu-submenu-active:active,
.ant-menu-light:active .ant-menu-submenu-title:active {
  background-color: #ffffff !important;
}

.ant-menu-vertical .ant-menu-submenu,
.ant-menu-vertical-left .ant-menu-submenu,
.ant-menu-vertical-right .ant-menu-submenu,
.ant-menu-inline .ant-menu-submenu {
  padding-bottom: 0.02px;
  border-bottom: solid 1px #e6e6e6;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 0.3s, background 0.3s, padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: border-color 0.3s, background 0.3s, padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 0.7rem 0rem 0.9rem 0rem;
}

.ant-menu-inline.ant-menu-root .ant-menu-item:hover,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title:hover {
  -webkit-filter: brightness(1.2) !important;
          filter: brightness(1.2) !important;
}

.ant-menu-sub.ant-menu-inline {
  padding: 0;
  background: #ffffff !important;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  display: none;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ffffff;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
.ant-menu-submenu-title
> .ant-menu-title-content {
  color: #919191 !important;
  font-size: 0.7rem;
  letter-spacing: 0.8px;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 20px !important;
  line-height: 40px;
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 73px !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
.ant-menu-submenu-title
> .ant-menu-title-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-menu-inline:hover.ant-menu-root:hover
.ant-menu-item:hover
> .ant-menu-title-content:hover,
.ant-menu-inline:hover.ant-menu-root:hover
.ant-menu-submenu-title:hover
> .ant-menu-title-content:hover {
  color: #797979 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ffffff !important;
}

.ant-menu-item-selected {
  color: #797979 !important;
}

.submenuNone {
  cursor: auto !important;
}

.ant-drawer-header {
  background: #999999 !important;
  height: 85px;
}

div.mobileNavIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.mobileNavIconContainer img.NavIcon {
  width: 2.6rem;
  height: 2.55rem;
  margin-right: 0.8rem;
}

div.mobileNavIconContainer div.mobileNavIconText {
  color: #ffffff;
  font-size: 0.1rem;
  line-height: 1rem;
  margin-top: 0.2rem;
  letter-spacing: 0.05rem;
}

.NavLine {
  height: 5px;
  background-color: #e3e3e3;
}

.NavLine02 {
  height: 4px;
  background-color: #e3e3e3;
}

div.phone_InformationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 124.8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.phone_InformationContainer div.phone_Information_01 {
  margin-bottom: 32px;
  font-size: 0.9rem;
  color: #7f7f7f;
}

div.phone_InformationContainer div.phone_Information_02 {
  margin-bottom: 32px;
  color: black;
  font-size: 1.5rem;
}

div.phone_InformationContainer div.phone_Information_03 {
  color: #7f7f7f;
}

div.Logo_InformationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: #e3e3e3 1px solid;
  border-bottom: #e3e3e3 1px solid;
}

div.Logo_InformationContainer img.Logo_Information_fb {
  width: 21px;
  margin-right: 8vw;
}

div.Logo_InformationContainer img.Logo_Information_ig {
  width: 21px;
  margin-right: 8vw;
}

div.Logo_InformationContainer img.Logo_Information_line {
  width: 31px;
  margin-right: 8vw;
}

div.Logo_InformationContainer img.Logo_Information_yt {
  width: 26px;
}

div.InformationText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  font-size: 0.8rem;
  color: #7f7f7f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 780px) {
  div.mobileNavContainer div.mobile_NavLogo {
    margin: 0vw 22vw 0vw 22vw;
  }
}

@media screen and (max-width: 550px) {
  div.mobileNavContainer div.mobile_NavLogo {
    margin: 0vw 20vw 0vw 20vw;
  }
}

@media screen and (max-width: 500px) {
  div.mobileNavContainer div.mobile_NavLogo {
    margin: 0vw 16vw 0vw 16vw;
  }
}

@media screen and (max-width: 440px) {
  div.mobileNavContainer div.mobile_NavLogo {
    margin: 0vw 11vw 0vw 11vw;
  }
}

@media screen and (max-width: 400px) {
  div.mobileNavContainer div.mobile_NavLogo {
    margin: 0vw 6vw 0vw 6vw;
  }
}
/*# sourceMappingURL=index.css.map */