a.BannerImg01 {
  background-image: url(./resource/Banner01.jpeg);
  padding-top: 40%;
  background-size: cover;
  background-position: center center;
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: brightness(1.05);
    transition: all 0.2s ease-in-out;
  }
}
a.BannerImg02 {
  background-image: url(./resource/Banner02.jpeg);
  padding-top: 40%;
  background-size: cover;
  background-position: center center;
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: brightness(1.05);
    transition: all 0.2s ease-in-out;
  }
}

a.BannerImg03 {
  background-image: url(./resource/Banner03.jpg);
  padding-top: 40%;
  background-size: cover;
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: brightness(1.05);
    transition: all 0.2s ease-in-out;
  }
}

a.BannerImg04 {
  background-image: url(./resource/Banner04.jpeg);
  padding-top: 40%;
  background-size: cover;
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: brightness(1.05);
    transition: all 0.2s ease-in-out;
  }
}

.ant-carousel .slick-dots li.slick-active {
  width: 16px;
}

.ant-carousel .slick-dots li {
  position: relative;
  display: inline-block;
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 16px;
  height: 3px;
  margin: 0 2px;
  margin-right: 7px;
  margin-left: 7px;
  padding: 0;
  text-align: center;
  text-indent: -999px;
  vertical-align: top;
  transition: all 0.1s ease-in-out;
}

.ant-carousel .slick-dots li.slick-active button {
  background: rgb(0, 0, 0);
  opacity: 0.8;
}

.ant-carousel .slick-dots li button {
  display: block;
  width: 0.9rem;
  height: 0.85rem;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: rgb(0, 0, 0);
  border: 0;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 1295px) {
  a.BannerImg01 {
    background-image: url(./resource/Banner01_2.jpeg);
    padding-top: 52%;
  }
  a.BannerImg02 {
    background-image: url(./resource/Banner02_2.jpeg);
    padding-top: 52%;
  }
  a.BannerImg03 {
    background-image: url(./resource/Banner03_2.jpg);
    padding-top: 52%;
  }
  a.BannerImg04 {
    background-image: url(./resource/Banner04_2.jpeg);
    padding-top: 52%;
  }
}

@media screen and (max-width: 767px) {
  a.BannerImg01 {
    background-image: url(./resource/Banner01_3.jpeg);
    padding-top: 89%;
  }
  a.BannerImg02 {
    background-image: url(./resource/Banner02_3.jpeg);
    padding-top: 89%;
  }
  a.BannerImg03 {
    background-image: url(./resource/Banner03_3.jpg);
    padding-top: 89%;
  }
  a.BannerImg04 {
    background-image: url(./resource/Banner04_3.jpeg);
    padding-top: 89%;
  }
}
